include LICENSE
include README.md
include CHANGELOG.md
include SECURITY.md
include CONTRIBUTING.md

recursive-include src/hashguard/data *.json
recursive-include src/hashguard/yara_rules *.yar *.yara
recursive-include src/hashguard/assets *.png *.ico

recursive-include yara_rules *.yar *.yara
recursive-include assets/branding *.png *.ico

recursive-include tests *.py
